
.profile-tabs {
  height: 30px;
  font-size: $large;
  width: 100%;
  @media (min-width: $screen-xs-min) {
    height: 50px;
    font-size: $xlarge;
  }
  h2 {
    color: #fff;
    font-weight: bold;
    height: 100%;
    padding: 0;
    line-height: 30px;
    float: left;
    width: 49.8%;
    text-align: center;
    background: $color-2;
    cursor: pointer;
    @media (min-width: $screen-xs-min) {
      line-height: 50px;
    }
  }
  h2:first-of-type {
    margin-right: .4%;
  }
}

.pet-profiles, .user-profile {
  display: none;
}

.active-header {
  background-color: $light-gray !important;
  color: $color-2 !important;
}

.active {
  display: block !important;
}
