// Colors
$color-1: #00ff7b; // light green
$color-2: #284838; // dark green
$color-3: #dbebe3; // light green gray
$light-gray: rgba(220, 220, 220, 0.8);
$almost-white: rgba(240, 240, 240, 0.9);
$trans-white: rgba(250, 250, 250, 0.9);

$body-font: "Arimo";

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: $color-2;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 150px 0;
}

body {
  font-family: $body-font;
  // background: url(space-bg.jpg) fixed center;
  background-size: cover;
}

main a {
  text-decoration: none;
  border-bottom: 1px solid $color-1;
  color: $color-2;
}
section {

  color: $color-1;
  background: rgba(220,220,220, .8);
  padding: 20px 15px;
}

h1 {
  font-family: "Pacifico";
  font-size: $xxxlarge;
  a {
    text-decoration: none;
  }
}

h2 {
  font-family: $body-font;
  text-align: center;
  background: rgba(200,200,200, .8);
  max-width: 800px;
  padding: 10px;
  font-weight: bold;
  font-size: $xlarge;
  color: #000;
}

h4, p {
  font-size: $large;
  margin-bottom: 3px;
  text-align: left;
  span {
    font-weight: bold;
  }
}

.form {
  width: 50%;
  margin: 0 auto;

}
.form input {
  width: 100%;
  display: block;
  color: #000;
  background: rgba(240, 240, 240, 0.1);
  padding: 5px;
  border: 1px solid $color-2;
  font-family: $body-font;
  font-size: $norm;
}

select {
  text-align: left;
  border: 1px solid $color-2;
  border-radius: none;
  padding: 5px;
  font-family: $body-font;
  font-size: $norm;
  width: 100%;
  background: rgba(240, 240, 240, 0.1);
}

.form label {
  text-align: left;
  display: block;
  margin-top: 10px;
  font-size: $large;
}

.form textarea {
  font-family: $body-font;
  width: 100%;
  height: 80px;
  display: block;
  color: #000;
  background: rgba(240, 240, 240, 0.1);
  border: 1px solid $color-2;
  padding: 5px;
  font-size: $norm;
}

textarea:focus, input:focus {
  outline: none;
  background-color: $almost-white;
}

input[type=submit], .changes a {
  transition: all ease .4s;
  padding: 5px 10px;
  width: 45%;
  margin: 20px auto;
  color: $color-2;
  font-family: $body-font;
  font-size: $large;
  cursor: pointer;
  border: 1px solid $color-2;
}

input[type=submit]:hover, .changes a:hover {
  background-color: $color-2;
  color: #fff;
}

.show-row {
  div:nth-child(1) {
    flex-direction: column;
    justify-content: center;
  }
  > div {
    display: flex;
    padding: 5px 0;
    h4, p {
      width: 100%;
      margin-left: 12px;
    }
    h6 {
      margin-left: 12px;
    }
  }
}

.profile-pic {
  border: 1px solid $color-2;
  width: 170px;
  height: 170px;
  object-fit: cover;
  margin-right: 5px;
}

.show-row:nth-child(1n+0) {
  background: $trans-white;
}

.show-row:nth-child(2n+0) {
  background: $almost-white;
}

.btn {
  display: inline-block;
  font-size: $large;
  border: 1px solid $color-2;
  padding: 4px 10px;
  margin: 20px auto;
  max-width: 120px;
  text-align: center;
  transition: all ease .4s;
}

.btn:hover {
  background-color: $color-2;
  color: #fff;
}

.simple-link {
  margin-left: 12px;
  font-size: $norm;
  max-width: 60px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: rgba(240, 240, 240, 0.1);
  border: 1px solid $color-2;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px rgba(240, 240, 240, 0.1) inset;
  transition: background-color 5000s ease-in-out 0s;
}
i, em {
  font-size: $small;
  text-align: left;
  width: 100%;
}

.center {
  text-align: center;
}

ul {
  padding-left: 20px;
  text-align: left;
}
